#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 73vw;
  height: 470px;

  background: linear-gradient(#007fff, #1e8dfc);
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  margin: 0;
  padding: 0;
}

.video-card {
  width: 800px;
  height: 100px;
  background-color: white;
}

.card {
  width: 300px;
  height: 450px;
  background-color: white;
  margin-left: 20px;
  padding: 10px;
  border-radius: 20px;
}

.title {
  color: black;
  opacity: 0.5;
}
.price {
  color: black;
  padding: 10px;
  font-size: 30px;
}

hr {
  margin: 15px;
}

li {
  color: black;
  text-align: start;
  padding: 4px;
  list-style: none;
}

.btn {
  width: 90%;
  color: white;
  background-color: #1e8dfc;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #2c50d3;
}

.available {
  color: black;
}

.available::before {
  content: "\2714";
  padding-left: 0;
  padding: 10px;
}
.not-available {
  color: rgb(186, 186, 186);
}
.not-available::before {
  content: "\2718";
  padding: 10px;
}

.container:hover .btn {
  background-color: #2745b0;
}
